/* Hier hoef je niks mee te doen */
*{
    font-size:0;
    display: inline-block;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 275px;
    height: 500px;
    background-color: rgb(255, 0, 0);
}

#midden{
    width: 250px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

#onderkant{
    width: 275px;
    height: 500px;
    background-color: blue;
}

